<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Book Store</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">
                        	<span style="font-size:1.8em;" class="glyphicon glyphicon-shopping-cart" aria- hidden="true"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">Minha Conta</a>
                    </li>
                    <li>
                        <a href="#">Meus Pedidos</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-12">
				<h3>CADASTRO</h3>
				<hr />
                <div class="row">
					<div class="panel panel-default">
					  <div class="panel-heading">DADOS DE IDENTIFICAÇÃO</div>
					  
					  	<div class="col-md-6">
					  		<br />
					  		<div class="col-md-12">
								<div class="form-group">
							    	<label for="exampleInputEmail1">Nome</label>
							    	<input type="text" class="form-control" id="exampleInputEmail1" placeholder="">
							  	</div>
							</div>
							<div class="col-md-6">
							  <div class="form-group">
							    <label for="exampleInputPassword1">Senha</label>
							    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="">
							  </div>
							</div>
							<div class="col-md-6">
							  <div class="form-group">
							    <label for="exampleInputPassword1">Confirmar Senha</label>
							    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="">
							  </div>
							</div>
							<div class="col-md-5">
								<div class="form-group">
								    <label for="exampleInputEmail1">CPF</label>
								    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="">
								</div>
							</div>
							<div class="col-md-7">
								<div class="form-group">
								    <label for="exampleInputEmail1">Email</label>
								    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
								</div>
							</div>
					  	</div>
					  	
					  	<div class="col-md-6">
					  		<br />
					  		<div class="col-md-12">
							  <div class="form-group">
							    <label for="exampleInputEmail1">Sobrenome</label>
							    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="">
							  </div>
							</div>
							  <div class="col-md-6">
								  <div class="form-group">
								    <label for="exampleInputEmail1">Sexo</label>
								    <select class="form-control" id="sel1">
									    <option>Masculino</option>
									    <option>Feminino</option>
									</select>
								  </div>
							  </div>
							  <div class="col-md-6">
								  <div class="form-group">
								    <label for="exampleInputEmail1">Data de Nascimento</label>
								    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="">
								  </div>
							  </div>
							  <div class="col-md-6">
								  <div class="form-group">
								    <label for="exampleInputEmail1">Telefone Principal</label>
								    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="">
								  </div>
							  </div>
							  <div class="col-md-6">
								  <div class="form-group">
								    <label for="exampleInputEmail1">Telefone Secundario</label>
								    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="">
								  </div>
							</div>
					  	</div>
					  	
					  <div class="panel-body">
					  </div>
					</div>
                </div>
                
                <div class="row">
					<div class="panel panel-default">
					  <div class="panel-heading">MEU ENDEREÇO</div>	
					  <div class="panel-body">
					  	
					  	<div class="col-md-6">
					  		<br />
					  		<div class="col-md-6">
								<div class="form-group">
								    <label for="exampleInputEmail1">CEP</label>
									<input type="text" class="form-control" id="exampleInputEmail1" placeholder="">
								</div>
							</div>
							<div class="col-md-12">
								  <div class="form-group">
								    <label for="exampleInputEmail1">Endereço</label>
								    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								    <label for="exampleInputEmail1">Bairro</label>
								    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								    <label for="exampleInputEmail1">Cidade</label>
								    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="">
								</div>
							</div>
					  	</div>
					  	
					  	<div class="col-md-6">
					  		<br />
							<div class="col-md-6">
								<div class="form-group">
								    <label for="exampleInputEmail1">Número</label>
								    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								    <label for="exampleInputEmail1">Complemento</label>
								    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="">
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
								    <label for="exampleInputEmail1">Referência</label>
								    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								    <label for="exampleInputEmail1">Estado</label>
								    <select class="form-control" id="sel1">
									    <option>Brasil</option>
									    <option>Outro</option>
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
								    <label for="exampleInputEmail1">País</label>
								    <select class="form-control" id="sel1">
									    <option>São Paulo</option>
									    <option>Outro</option>
									</select>
								</div>
							</div>
					  	</div>			  	
					  </div>
					</div>
                </div>
            </div>
			<button type="submit" class="btn btn-default">Cadastrar</button>                
        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p class="text-center">Copyright &copy; Davisson Medeiros 2017</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
