<div class="col-md-3">
    <div class="list-group">
        <a href="/#/" class="list-group-item"><span class="glyphicon glyphicon-home"/>&nbsp;Inicio</a>
		<a href="/#/home/account" class="list-group-item"><span class="glyphicon glyphicon-user"/>&nbsp;Minha conta</a>
		<a href="/#/home/orders" class="list-group-item"><span class="glyphicon glyphicon-list-alt"/>&nbsp;Meus Pedidos</a>
		<a href="/#/home/addresses" class="list-group-item"><span class="glyphicon glyphicon-envelope"/>&nbsp;Endereços</a>
		<a href="/#/home/exchanges" class="list-group-item"><span class="glyphicon glyphicon-gift"/>&nbsp;Cupons</a>
		<a href="/#/home/cards" class="list-group-item"><span class="glyphicon glyphicon-credit-card"/>&nbsp;Cartões</a>
		<a href="/#/home/notification" class="list-group-item">
			<span class="glyphicon glyphicon-comment" aria-hidden="true">
				</span>&nbsp;Notificações&nbsp;
				<span class="badge">{{$root.notifications.length}}</span>
        </a>                                                                
    </div>
</div>
<div class="col-md-9">
	<div class="panel panel-default">
		<div class="panel-body">
			<p ng-show="responseMessage.message.length" class="alert" ng-class="{true: 'alert-danger',false: 'alert-info'}[responseMessage.hasError]">{{responseMessage.message}}</p>
			
			<a href="#/home/account/password" class="btn btn-primary">Alterar Senha</a>
			<hr />

			<form novalidate name="editForm" class="row" ng-submit="submit()">
	    	
		  		<div class="col-md-6">
			    	<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.firstName.$dirty && editForm.firstName.$invalid]">
					    <label class="control-label" for="firstName">Nome</label>
					    <input ng-model="user.firstName" type="text" class="form-control" name="firstName" placeholder="First Name" required> 
					</div>
				</div>

				<div class="col-md-6">
			    	<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.lastName.$dirty && editForm.lastName.$invalid]">
					    <label class="control-label" for="lastName">Sobrenome</label>
					    <input ng-model="user.lastName" type="text" class="form-control" name="lastName" placeholder="Last Name" required> 
					</div>
				</div>
				<div class="col-md-12">
			    	<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.email.$dirty && editForm.email.$invalid]">
					    <label class="control-label" for="email">Email</label>
					    <input ng-model="user.user.email" type="email" class="form-control" name="email" placeholder="Email"required> 
					</div>
				</div>	
		  		
				<div class="col-md-4">
			    	<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.cpf.$dirty && editForm.cpf.$invalid]">
					    <label class="control-label" for="cpf">CPF</label>
					    <input ng-model="user.cpf.number" type="text" class="form-control" name="cpf" placeholder="CPF" ui-br-cpf-mask required> 
					</div>
				</div>	

				<div class="col-md-3">
			    	<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.gender.$dirty && editForm.gender.$invalid]">
						<label>Gênero</label>
						<select name="gender" ng-model="user.gender" class="form-control" required 
						ng-controller="GenderController" ng-options="gender.id as gender.description for gender in genders">
							<option value="">Gênero</option>
						</select>
					</div>
				</div>
				
				<div class="col-md-5">
			    	<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.bornDate.$dirty && editForm.bornDate.$invalid]">
					    <label class="control-label" for="bornDate">Data de Nascimento</label>
					    <input ng-model="user.bornDate" type="date" class="form-control" name="bornDate" placeholder="Born Date" required> 
					</div>
				</div>	
				  
				<div class="col-md-6">
			      	<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.firstPhoneNumber.$dirty && editForm.firstPhoneNumber.$invalid]">
			          	<label class="control-label" for="name">Telefone</label>
			          	<input ng-model="user.phones[0].phone" type="text" class="form-control" name="firstPhoneNumber" placeholder="Phone Number" ui-br-phone-number required>         	
			      	</div>
			    </div>

			    <div class="col-md-6">
				  	<div class="form-group">
				      	<label class="control-label" for="name">Telefone</label>
				      	<input ng-model="user.phones[1].phone" type="text" class="form-control" name="secondPhoneNumber" placeholder="Phone Number" ui-br-phone-number>    
				  	</div>
				</div>
				<div class="col-md-12">
					<hr/>
					<button type="submit" class="btn btn-primary" ng-disabled="editForm.$invalid">
						Salvar
					</button>
					<a href="#/client/list" class="btn btn-primary">Voltar</a>
				</div>
			</form>
		</div>
	</div>		
</div>
