<div class="modal fade">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-center">{{title}}</h4>
      </div>
      <div class="modal-body col-md-12">
        
    		<form role="form" name="editForm">
    		  
          <div class="col-md-12">
            
            <div class="col-md-6">
              <div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.firstName.$dirty && editForm.firstName.$invalid]">
                  <label class="control-label" for="firstName">Nome *</label>
                  <input ng-model="address.user.firstName" type="text" class="form-control" name="firstName" placeholder="First Name" required>    
                  <span class="help-block" ng-show="editForm.firstName.$dirty && editForm.firstName.$error.required">Nome é obrigatório.</span>
              </div>
            </div>
            
            <div class="col-md-6">
              <div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.lastName.$dirty && editForm.lastName.$invalid]">
                  <label class="control-label" for="lastName">Sobrenome *</label>
                  <input ng-model="address.user.lastName" type="text" class="form-control" name="lastName" placeholder="Last Name" required>    
                  <span class="help-block" ng-show="editForm.lastName.$dirty && editForm.lastName.$error.required">Sobrenome é obrigatório.</span>
              </div>

            </div>

          </div>

          <div class="col-md-12">
            <div class="col-md-6">
              <div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.zipcode.$dirty && editForm.zipcode.$invalid]">
                  <label class="control-label" for="zipcode">CEP * 
                  <a href="http://www.buscacep.correios.com.br/servicos/dnec/index.do" target="_blank">Não sabe o CEP?</a>
                  </label>
                  <input ng-model="address.zipCode" ng-blur="findAddressByZipcode(address.zipCode)" type="text" class="form-control" name="zipcode" placeholder="CEP" ui-br-cep-mask required>    
                  <span class="help-block" ng-show="editForm.zipcode.$dirty && editForm.zipcode.$error.required">Nome da categoria é obrigatório.</span>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label" for="street">Endereço *</label>
                <input ng-model="address.street" type="text" class="form-control" name="street" placeholder="Street" disabled>    
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.number.$dirty && editForm.number.$invalid]">
                  <label class="control-label" for="number">Número *</label>
                  <input ng-model="address.aNumber" type="text" class="form-control" name="number" placeholder="Number" required>    
                  <span class="help-block" ng-show="editForm.number.$dirty && editForm.number.$error.required">Número é obrigatório.</span>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                  <label class="control-label" for="complement">Complemento</label>
                  <input ng-model="address.complement" type="text" class="form-control" name="complement" placeholder="Complement">    
              </div>
            </div>

            <div class="col-md-5">
              <div class="form-group">
                <label class="control-label" for="neighborhood">Bairro *</label>
                <input ng-model="address.neighborhood.name" type="text" class="form-control" name="neighborhood" placeholder="Neighborhood" disabled>    
              </div>
            </div>

            <div class="col-md-5">
              <div class="form-group">
                  <label class="control-label" for="city">Cidade *</label>
                  <input ng-model="address.neighborhood.city.description" type="text" class="form-control" name="city" placeholder="City" disabled>    
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label>Estado *</label>
                <input ng-model="address.neighborhood.city.state.code" type="text" class="form-control" name="state" placeholder="State" disabled>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.firstPhoneNumber.$dirty && editForm.firstPhoneNumber.$invalid]">
                  <label class="control-label" for="name">Telefone *</label>
                  <input ng-model="address.user.firstPhoneNumber" type="text" class="form-control" name="firstPhoneNumber" placeholder="Phone Number" ui-br-phone-number required>    
                  <span class="help-block" ng-show="editForm.firstPhoneNumber.$dirty && editForm.firstPhoneNumber.$error.required">Telefone é obrigatório.</span>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                  <label class="control-label" for="name">Telefone</label>
                  <input ng-model="address.user.secondPhoneNumber" type="text" class="form-control" name="secondPhoneNumber" placeholder="Phone Number" ui-br-phone-number>    
              </div>
            </div>

            <div class="col-md-6">
              <label class="checkbox-inline"><input type="checkbox" value="">Utilizar como endereço principal</label>
            </div>
            
            <div class="col-md-6">
              <label class="checkbox-inline"><input type="checkbox" value="">Utilizar como endereço de entrega padrão</label>
            </div>

          </div>

    		</form>

      </div>
        <div class="modal-footer">
          <div class="col-md-12">
            <div class="col-md-12">
            <button type="button" ng-click="submit()" class="btn btn-primary" data-dismiss="modal">OK</button>
            <button type="button" ng-click="cancel()" class="btn">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>