<div class="col-md-3">
    <div class="list-group">
        <a href="/#/home" class="list-group-item">Inicio</a>
		<a href="/#/home/account" class="list-group-item">Informações de Conta</a>
		<a href="/#/home/addresses" class="list-group-item">Meus Endereços</a>
		<a href="/#/home/orders" class="list-group-item">Meus Pedidos</a>
		<a href="/#/home/exchanges" class="list-group-item">Trocas e Devoluções</a>
		<a href="/#/home/cards" class="list-group-item">Cartões e Vales</a>
		<a href="/#/logout" class="list-group-item">Sair</a>
    </div>
</div>
<div class="col-md-9">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="text-center">CARTÕES E VALES</h4>
		</div>
		<div class="panel-body" style="min-height: 500px;">
			
			<div class="col-md-12">
				<h4>CARTÕES PARA COMPRA</h4>
			</div>			
			<div class="col-md-12">
				<br />
				<form novalidate name="editForm" ng-submit="submit()">
					<div class="table-responsive">
						<table class="table">
						    <tbody>
						    	<tr ng-show="!cards.length"> 
						    		<td>No results found.</td>
						    	</tr>
						    	<tr ng-repeat="card in cards | filter: filter">
							        <td>{{card.flag}}</td>
							        <td>{{card.name}}</td>
							        <td>{{card.number}}</td>
							        <td>
							        	<label class="radio-inline"><input type="radio" name="optradio" checked>Padrão</label>
							        </td>
							        <td class="text-center text-nowrap">
							        	<a ng-click="inactivate(category)" class="btn btn-danger">
				        					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				        				</a>
							        </td>
						      	</tr>
						    </tbody>
						</table>
					</div>
				</form>
			</div>

			<div class="col-md-12">
				<h4>VALES</h4>

			</div>			
			<div class="col-md-12" >
				<br />
				<form novalidate name="editForm" ng-submit="submit()">
					<div class="table-responsive">
						<table class="table">
						    <tbody>
						    	<tr ng-show="!voucher.length">
						    		<td>
						    			<p>No results found.
						    		</td>
						    	</tr>
						    	<tr ng-repeat="voucher in vouchers | filter: filter" ng-show="voucher.length">
							        <td>{{card.id}}</td>
							        <td>{{card.name}}</td>
							        <td>{{card.code}}</td>
							        <td>{{card.description}}</td>
							        <td>{{card.active}}</td>
							        <td class="text-center text-nowrap">
							        	<a href="#/cards/edit/{{card.id}}" class="btn btn-warning">Editar</a> 
							        	<a ng-click="inactivate(card)" class="btn btn-danger">Remover</a>
							        </td>
						      	</tr>
						    </tbody>
						</table>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>
