<div class="col-md-12" ng-cloak>	
    <!-- SHOP ITEM -->
	<div class="col-md-12">
		<div class="page-header text-center">
			<h2>CARRINHO</h2>
		</div>
		<p ng-show="responseMessage.message.length" class="alert" ng-class="{true: 'alert-danger',false: 'alert-info'}[responseMessage.hasError]">{{responseMessage.message}}</p>		
	</div>
    <div ng-show="cart.cartItems.length">
		<div class="col-md-7">
			<!-- <div class="panel panel-default"> -->
			  	<!-- <div class="panel-body"> -->
					  	<!-- SHOP ITEM -->
					  	<div class="row" ng-repeat="item in cart.cartItems">
						  	<div class="col-md-4">
		                        <div class="thumbnail">
		                            <img src="http://placehold.it/320x150" alt="">
		                        </div>
		                    </div>
						  	<div class="col-md-4">
		                        <div class="caption">
		                        	<h4 class="col-md-12"><a href="/#/products/detail/{{item.product.id}}">{{item.product.title}}</a></h4>
		                            <h4 class="col-md-12">
		                            {{ item.product.calculatedSalePrice.value | currency}}
		                        	</h4>
		                        </div>
		                    </div>
		                	<div class="col-md-3">
		                		<p class="text-center">Quantidade</p>
								<div class="input-group number-spinner">
									<span class="input-group-btn">
										<a ng-click="removeItemCart(item)" class="btn btn-default" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></a>
									</span>
									<input type="text" class="form-control text-center" value="{{item.quantity}}" disabled="true">
									<span class="input-group-btn">
										<a href="" ng-click="addItemToCart(item.product.id)" class="btn btn-default" data-dir="up"><span class="glyphicon glyphicon-plus"></span></a>
									</span>
								</div>
							</div>
							<div class="col-md-1">
								<a href="" ng-click="removeAllItemsCart(item)"><span class="glyphicon glyphicon-trash"></span></a>
							</div>							
						</div>
					<a href="/#/"><span class="glyphicon glyphicon-plus"></span> continuar comprando</a>		
				<!-- </div> -->
			<!-- </div> -->
		</div>
		<div class="col-md-5">
			<!--
			<div class="panel panel-default" ng-controller="FreightController">
				<div class="panel-body">
					<h4 class="text-center">FRETE</h4>
					<form novalidate name="freightForm">
						<div class="input-group">
							<span class="input-group-addon">CEP</span>
							<input ng-model="freight.postalCodeSource" type="text"  class="form-control" ui-br-cep-mask required>
							<span class="input-group-btn">
								<button ng-click="calculateFreight()" class="btn btn-default" ng-disabled="freightForm.$invalid">CALCULAR</button>
						   </span>
						</div>
					</form>
					<div class="row">
						<br />
		                <div class="col-md-4" ng-repeat="freight in freights">
		                    <div class="panel panel-default text-center">
								<input type="radio" name="optradio" ng-model="freightSelected.value" value="{{freight.service.value}}">
		                        <p><strong>{{freight.service.serviceName}}</strong></p>
		                        <p>{{freight.service.value | currency}}</p>
		                        <p>Prazo: {{freight.service.deadline}} dia(s)</p>
		                    </div>
		                </div>
		            </div>	
				</div>
			</div>
			-->
			<div class="panel panel-default">
			  	<div class="panel-body">
				  	<h4 class="text-center">RESUMO</h4>
				  	<hr />
					<div class="row" ng-repeat="item in cart.cartItems">	  		
				  		<div class="col-md-12">	
				  			<div class="col-md-8">
				  				<p>{{item.product.title}}</p>
				  			</div>
				  			<div class="col-md-1">
				  				<p>{{item.quantity}}</p>
				  			</div>
				  			<div class="col-md-3">				  			
				  				<p class="pull-right">
				  					{{item.product.calculatedSalePrice.value  * item.quantity | currency}}
				  				</p>
				  			</div>
				  		</div>
			  		</div>	
			  		<br />
			  		<table class="table">
			  			<tr>
			  				<td><h5>Subtotal</h5></td>
			  				<td><h5 class="text-right">{{cart.subTotal | currency}}</h5></td>
			  			</tr>
			  			<!--
			  			<tr>
			  				<td><p>Frete</p></td>
			  				<td><p class="text-right">{{freightSelected.value | currency}}</p></td>
			  			</tr>
			  			-->
			  			<tr>
			  				<td><h4>Total</p><h4></td>
			  				<td>
			  					<h4 class="text-right">
			  						<p>{{cart.total | currency}}</p> 
			  						<p>ou 12 x {{cart.total / 12 | currency}}</p>
			  					</h4>
			  				</td>
			  			</tr>
			  		</table>
					<a class="btn btn-success btn-block" href="/#/checkout" >FINALIZAR COMPRA</a>
			  	</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
				 	<h4 class="text-center">RECOMENDAÇÕES</h4>
				</div>
			</div>
		</div>
	</div>
</div>