<div class="page-header text-center">
	<h1>CADASTRO CATEGORIA</h1>
</div>

<p ng-show="responseMessage.message.length" class="alert" ng-class="{true: 'alert-danger',false: 'alert-info'}[responseMessage.hasError]">{{responseMessage.message}}</p>

<form novalidate name="editForm" class="row" ng-submit="submit()">
	
	<div class="col-md-6">
	
		<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.name.$dirty && editForm.name.$invalid]">
		    <label class="control-label" for="name">Nome *</label>
		    <input ng-model="category.description" type="text" class="form-control" name="name" placeholder="Name" required>    
		</div>

		<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.code.$dirty && editForm.code.$invalid]">
		    <label class="control-label" for="name">Código *</label>
		    <input ng-model="category.code" type="text" class="form-control" name="code" placeholder="Code" required>    
		</div>

		<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.active.$dirty && editForm.active.$invalid]">
			<label>Tipo *</label>
			<select name="active" ng-model="category.type.id" class="form-control" required ng-options="type.id as (type.description) for type in types">
				<option value="">Escolha um status</option>
			</select>
		</div>

		<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.active.$dirty && editForm.active.$invalid]">
			<label>Status *</label>
			<select name="active" ng-model="category.active" class="form-control" required 
			ng-controller="ActiveController" ng-options="active.value as (active.name) for active in activies">
				<option value="">Escolha um status</option>
			</select>
		</div>

		<button type="submit" class="btn btn-primary" ng-disabled="editForm.$invalid">
			Salvar
		</button>
		<a href="#/category/list" class="btn btn-primary">Voltar</a>
	</div>
	
</form>