<form novalidate name="editForm" class="form-horizontal" ng-submit="submit()">
<div class="row">
    <div class="col-md-12">
		<h3 class="text-center">FINALIZAR COMPRA</h3>
		<br />		
		<p ng-show="responseMessage.message.length" class="alert" ng-class="{true: 'alert-danger',false: 'alert-info'}[responseMessage.hasError]">{{responseMessage.message}}</p>
			
		<div class="row" ng-show="purchaseOrder.items.length">
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading text-center"><h4>ENDEREÇOS</h4></div>
					<div class="panel-body">
						<h4>Endereço Cobrança</h4>
						<hr />
						<strong>{{billingAddress.description}}</strong>
						<p>
							 {{billingAddress.street}}, {{billingAddress.aNumber}}
							 {{billingAddress.neighborhood.name}}<br />
							 {{billingAddress.zipCode}}<br />
							 {{billingAddress.neighborhood.city.description}} - {{billingAddress.neighborhood.city.state.code}}
						</p>						
						<hr />
						<h4>Endereço Entrega</h4>
						<div ng-show="!deliveryEqBilling">
							<select name="active" ng-model="purchaseOrder.deliveryAddress" class="	form-control" required 
								ng-options="address as (address.description) for address in deliveries">				
							</select>
							<br/>							
							<strong>{{purchaseOrder.deliveryAddress.description}}</strong>
							<p>
								 {{purchaseOrder.deliveryAddress.street}}, {{purchaseOrder.deliveryAddress.aNumber}}
								 {{purchaseOrder.deliveryAddress.neighborhood.name}}<br />
								 {{purchaseOrder.deliveryAddress.zipCode}}<br />
								 {{purchaseOrder.deliveryAddress.neighborhood.city.description}} - {{purchaseOrder.deliveryAddress.neighborhood.city.state.code}}
							</p>
						</div>
						<div class="checkbox">							
							<label>
								<input type="checkbox" ng-model="deliveryEqBilling">Endereço de Entrega igual ao Principal
							</label>							
						</div>
						<hr />
						<a href="/#/home/addresses" class="btn btn-block btn-default">NOVO ENDEREÇO</a>						
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<!--
				<div class="panel panel-default">
					<div class="panel-heading text-center"><h4>FRETE</h4></div>
					<div class="panel-body">
						<div ng-repeat="f in freights">
							<div class="row">	  		
					  			<div class="col-md-1">
					  				<input type="radio" name="optFreight" ng-model="purchaseOrder.freight" ng-value="{{f.service}}" required>
					  			</div>
					  			<div class="col-md-4">
					  				<strong>{{f.service.description}}</strong>
					  			</div>
					  			<div class="col-md-2">
					  				{{f.service.value | currency}}
					  			</div>
					  			<div class="col-md-4">
					  				{{f.service.deadline}} dia(s) úteis
					  			</div>
					  		</div>
					  		<br />	
			            </div>	
					</div>
				</div>
				-->
				<div class="panel panel-default">
					<div class="panel-heading text-center"><h4>FORMA DE PAGAMENTO</h4></div>
					<div class="panel-body">
						<div class="radio">
							<label><input type="radio" name="optradio" ng-model="purchaseOrder.payment.paymentType" value="0" checked>Boleto Bancário 
							</label>
						</div>
						<hr />
						<div class="radio">
							<label>
								<input type="radio" name="optradio" ng-model="purchaseOrder.payment.paymentType" value="1">Cartão de Crédito
							</label>							
						</div>
						<br />
						<div ng-show="purchaseOrder.payment.paymentType == 1">
								
							<div ng-show="cards.length">
								<select name="active" ng-model="purchaseOrder.payment.card" class="form-control" required 
								ng-options="card as (card.name + ' - ' +  (card.aNumber | card)) for card in cards">
									<option value="" selected>Selecione</option>				
								</select>
								<br/>															
							</div>

							<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.cardFlag.$dirty && editForm.cardFlag.$invalid]" ng-show="!purchaseOrder.payment.card.id">	
								<label class="control-label col-sm-3" for="quota">Bandeira:</label>
								<div class="col-sm-9">
									<select name="flag" ng-model="purchaseOrder.payment.card.flag.id" class="form-control" 
									ng-options="flag.id as flag.description for flag in flags" ng-disabled="purchaseOrder.payment.card.id" required>
										<option value="">Selecione</option>
									</select>
								</div>
							</div>

							<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.number.$dirty && editForm.number.$invalid]" ng-show="!purchaseOrder.payment.card.id">
								<label class="control-label col-sm-3" for="number">Cartão:</label>
								<div class="col-sm-9">
									<input ng-model="purchaseOrder.payment.card.aNumber" type="text" class="form-control" name="number" ui-mask="9999 9999 9999 9999" ng-disabled="purchaseOrder.payment.card.id" required>
								</div>
							</div>

							<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.quota.$dirty && editForm.quota.$invalid]">
								<label class="control-label col-sm-3" for="quota">Parcelas:</label>
								<div class="col-sm-9">
									<select name="quota" ng-model="purchaseOrder.payment.quota.aNumber" class="form-control"
										ng-init="quotas=[1,2,3,4,5,6,7,8,9,10,11,12]"   
										ng-options="quota for quota in quotas" required>
										<option value="">Selecione Parcelas</option>
									</select>
								</div>
							</div>

							<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.name.$dirty && editForm.name.$invalid]">
								<label class="text-left control-label col-sm-3" for="name">Nome:</label>
								<div class="col-sm-9">
									<input ng-model="purchaseOrder.payment.card.name" type="text" class="form-control" name="name" ng-disabled="purchaseOrder.payment.card.id" maxlength="22" required>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-sm-4" for="email">Vencimento:</label>
								<div class="col-sm-4">
									<select name="month" ng-model="purchaseOrder.payment.card.expiringDate.month" class="form-control"
										ng-init="months=[1,2,3,4,5,6,7,8,9,10,11,12]"   
										ng-options="month for month in months" ng-disabled="purchaseOrder.payment.card.id" required>
										<option value="">Mes</option>
									</select>
								</div>
								<div class="col-sm-4">
									<select name="year" ng-model="purchaseOrder.payment.card.expiringDate.year" class="form-control"
										ng-init="years=[2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030]"   
										ng-options="year for year in years" ng-disabled="purchaseOrder.payment.card.id" required>
										<option value="">Ano</option>
									</select>
								</div>
							</div>

							<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.cvv.$dirty && editForm.cvv.$invalid]">
								<label class="control-label col-sm-5" for="cvv">Cód. Segurança:</label>
								<div class="col-sm-7">
									<input ng-model="purchaseOrder.payment.card.cvv" type="text" class="form-control" name="cvv" ui-mask="999" ng-disabled="purchaseOrder.payment.card.id" required>
								</div>
							</div>
							<div class="checkbox" ng-show="!purchaseOrder.payment.card.id">							
								<label>
									<input type="checkbox" ng-model="saveCard">Salvar cartão para próximas compras
								</label>
							</div>							
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading text-center"><h4>REVISÃO DO PEDIDO</h4></div>
					<div class="panel-body">

					 	<div class="col-md-12">
							<div class="row" ng-repeat="item in purchaseOrder.items">	  		
					  			<div class="col-md-7">					  			
					  				<p>{{item.product.name}}</p>
					  			</div>
					  			<div class="col-md-2">
					  				<p>{{item.quantity}}</p>
					  			</div>
					  			<div class="col-md-3">
					  				<p class="pull-right">{{item.product.calculatedSalePrice.value * item.quantity | currency}}</p>
					  			</div>
					  		</div>	
					  	</div>
				  		<br />
				  		<table class="table">
				  			<tr>
				  				<td><h5>Subtotal</h5></td>
				  				<td><h5 class="text-right">{{purchaseOrder.subTotal | currency}}</h5></td>
				  			</tr>
				  			
				  			<tr>
				  				<td><h5>Frete</h5></td>
				  				<td><h5 class="text-right">{{purchaseOrder.freight.value | currency}}</h5></td>
				  			</tr>
				  			
				  			<tr ng-show="purchaseOrder.cupons.length">
				  				<td><h5>Desconto</h5></td>
				  				<td>
				  					<div ng-repeat="cupom in purchaseOrder.cupons">
				  						<h5 class="text-right">
				  							({{cupom.code | uppercase}}) {{cupom.value | currency}}
				  						</h5>
				  					</div>				  
				  				</td>
				  			</tr>

				  			<tr>
				  				<td><h4>Total</p><h4></td>
				  				<td>
				  					<h4 class="text-right">
				  						<p>{{purchaseOrder.total | currency}}</p> 
				  						<p>ou 12 x {{purchaseOrder.total / 12 | currency}}</p>
				  					</h4>
				  				</td>
				  			</tr>
				  		</table>
						<button type="submit" class="btn btn-success btn-block" ng-disabled=" purchaseOrder.payment.paymentType == 1 && editForm.$invalid">FINALIZAR COMPRA</button>
					</div>
				</div>
			</div>			
		</div>
	</div>
</div>
</form>