<form novalidate name="editForm" class="form-horizontal" ng-submit="submit()">
<div class="row">
    <div class="col-md-12">
		<h3 class="text-center">FINALIZAR COMPRA</h3>
		<br />
		<div class="row" ng-show="purchaseOrder.items.length">
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading text-center"><h4>ENDEREÇOS</h4></div>
					<div class="panel-body">
						<h4>Endereço Principal</h4>
						<hr />
						<strong>Davisson Medeiros</strong>
						<p>
							 Avenida Presbítero Eliezer Martins Costa, 179
							 Jardim Varan<br />
							 08696-100<br />
							 Suzano - SP
						</p>
						<p>(11) 4749-7851 | (11) 4749-7851</p>
						<hr />
						<h4>Endereço Entrega</h4>
						<div class="checkbox">
							<label><input type="checkbox" value="">Endereço de Entrega igual ao Principal</label>
						</div>
						<hr />
						<a ng-controller="AddressesController" ng-click="modalShow()" class="btn btn-default btn-block" >INSERIR NOVO ENDEREÇO</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				
				<div class="panel panel-default">
					<div class="panel-heading text-center"><h4>FRETE</h4></div>
					<div class="panel-body">
						<div ng-repeat="f in freights">
							<div class="row">	  		
					  			<div class="col-md-1">
					  				<input type="radio" name="optFreight" ng-model="purchaseOrder.freight" ng-value="{{f.service}}" required>
					  			</div>
					  			<div class="col-md-4">
					  				<strong>{{f.service.description}}</strong>
					  			</div>
					  			<div class="col-md-2">
					  				{{f.service.value | currency}}
					  			</div>
					  			<div class="col-md-4">
					  				{{f.service.deadline}} dia(s) úteis
					  			</div>
					  		</div>
					  		<br />	
			            </div>	
					</div>
				</div>



				<div class="panel panel-default">
					<div class="panel-heading text-center"><h4>FORMA DE PAGAMENTO</h4></div>
					<div class="panel-body">
						<div class="radio">
							<label><input type="radio" name="optradio" ng-model="purchaseOrder.payment.paymentType" value="0" checked>Boleto Bancário 
							</label>
						</div>
						<hr />
						<div class="radio">
							<label><input type="radio" name="optradio" ng-model="purchaseOrder.payment.paymentType" value="1">Cartão de Crédito</label>
						</div>
						<br />
						<div ng-show="purchaseOrder.payment.paymentType == 1">
								<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.number.$dirty && editForm.number.$invalid]">
									<label class="control-label col-sm-3" for="number">Cartão:</label>
									<div class="col-sm-9">
										<input ng-model="purchaseOrder.payment.card.aNumber" type="text" class="form-control" name="number" ui-mask="9999 9999 9999 9999" required>
									</div>
								</div>

								<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.quota.$dirty && editForm.quota.$invalid]">
									<label class="control-label col-sm-3" for="quota">Parcelas:</label>
									<div class="col-sm-9">
										<select name="quota" ng-model="purchaseOrder.payment.quota.aNumber" class="form-control"
											ng-init="quotas=[1,2,3,4,5,6,7,8,9,10,11,12]"   
											ng-options="quota for quota in quotas" required>
											<option value="">Selecione Parcelas</option>
										</select>
									</div>
								</div>

								<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.name.$dirty && editForm.name.$invalid]">
									<label class="control-label col-sm-3" for="name">Nome:</label>
									<div class="col-sm-9">
										<input ng-model="purchaseOrder.payment.card.name" type="text" class="form-control" name="name" required>
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-sm-4" for="email">Vencimento:</label>
									<div class="col-sm-4">
										<select name="month" ng-model="purchaseOrder.payment.card.expiringDate.month" class="form-control"
											ng-init="months=[1,2,3,4,5,6,7,8,9,10,11,12]"   
											ng-options="month for month in months" required>
											<option value="">Mes</option>
										</select>
									</div>
									<div class="col-sm-4">
										<select name="year" ng-model="purchaseOrder.payment.card.expiringDate.year" class="form-control"
											ng-init="years=[2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030]"   
											ng-options="year for year in years" required>
											<option value="">Ano</option>
										</select>
									</div>
								</div>

								<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.cvv.$dirty && editForm.cvv.$invalid]">
									<label class="control-label col-sm-5" for="cvv">Cód. Segurança:</label>
									<div class="col-sm-7">
										<input ng-model="purchaseOrder.payment.card.cvv" type="text" class="form-control" name="cvv" ui-mask="999" required>
									</div>
								</div>
								<!--
								<div class="checkbox">
									<label><input type="checkbox" value="">Salvar cartão para para próxima compras</label>
								</div>
								-->
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading text-center"><h4>REVISÃO DO PEDIDO</h4></div>
					<div class="panel-body">

					 	<div class="col-md-12">
							<div class="row" ng-repeat="item in purchaseOrder.items">	  		
					  			<div class="col-md-7">
					  				<p>{{item.product.name}}</p>
					  			</div>
					  			<div class="col-md-2">
					  				<p>{{item.quantity}}</p>
					  			</div>
					  			<div class="col-md-3">
					  				<p class="pull-right">{{item.product.price.value * item.quantity | currency}}</p>
					  			</div>
					  		</div>	
					  	</div>
				  		<br />
				  		<table class="table">
				  			<tr>
				  				<td><h5>Subtotal</h5></td>
				  				<td><h5 class="text-right">{{purchaseOrder.subTotal | currency}}</h5></td>
				  			</tr>
				  			
				  			<tr>
				  				<td><h5>Frete</h5></td>
				  				<td><h5 class="text-right">{{purchaseOrder.freight.value | currency}}</h5></td>
				  			</tr>
				  	
				  			<tr>
				  				<td><h4>Total</p><h4></td>
				  				<td>
				  					<h4 class="text-right">
				  						<p>{{purchaseOrder.total | currency}}</p> 
				  						<p>ou 12 x {{purchaseOrder.total / 12 | currency}}</p>
				  					</h4>
				  				</td>
				  			</tr>
				  		</table>
						<button type="submit" class="btn btn-success btn-block" ng-disabled=" purchaseOrder.payment.paymentType == 1 && editForm.$invalid">FINALIZAR COMPRA</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</form>