<div class="row">
    <div class="col-md-12">
		<h3 class="text-center">FINALIZAR COMPRA</h3>
		<br />
		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading text-center">ENDEREÇOS</div>
					<div class="panel-body">
						<h4>Endereço Principal</h4>
						<hr />
						<strong>Davisson Medeiros</strong>
						<p>
							 Avenida Presbítero Eliezer Martins Costa, 179
							 Jardim Varan
							 08696-100 | Suzano - SP
						</p>
						<p>(11) 4749-7851</p>
						<hr />
						<h4>Endereço Entrega</h4>
						<div class="checkbox">
							<label><input type="checkbox" value="">Endereço de Entrega igual ao Principal</label>
						</div>
						<hr />
						<a class="btn btn-default btn-block" >INSERIR NOVO ENDEREÇO</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading text-center">FORMA DE PAGAMENTO</div>
					<div class="panel-body">
						<div class="radio">
							<label><input type="radio" name="optradio">Boleto Bancário</label>
						</div>
						<hr />
						<div class="radio">
							<label><input type="radio" name="optradio">Cartão de Crédito</label>
						</div>
						<br />
						<form class="form-horizontal">
							<div class="form-group">
								<label class="control-label col-sm-3" for="email">Cartão:</label>
								<div class="col-sm-9">
									<input type="text" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3" for="email">Parcelas:</label>
								<div class="col-sm-9">
									<select class="form-control">
							        	<option>1 x Parcela</option>
							        </select>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-3" for="email">Nome:</label>
								<div class="col-sm-9">
									<input type="text" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4" for="email">Vencimento:</label>
								<div class="col-sm-4">
									<select class="form-control">
							        	<option>Mês</option>
							        </select>
								</div>
								<div class="col-sm-4">
									<select class="form-control">
							        	<option>Ano</option>
							        </select>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-5" for="email">Cód. Segurança:</label>
								<div class="col-sm-7">
									<input type="text" class="form-control">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
				<div class="panel-heading text-center">REVISÃO DO PEDIDO</div>
					<div class="panel-body">
						<p>Produto 1</p>
						<p>Qtde: 1</p>
						<p>Preço: $ 48.99</p>
						<hr />
						<p>Produto 2</p>
						<p>Qtde: 3</p>
						<p>Preço: $ 48.99</p>
						
						<table class="table">
					  			<tr>
					  				<td><h5>Subtotal</h5></td>
					  				<td><h5 class="text-right">$ 49.98</h5></td>
					  			</tr>
					  			<tr>
					  				<td><h5>Frete</h5></td>
					  				<td><h5 class="text-right">$ 49.98</h5></td>
					  			</tr>
					  			<tr>
					  				<td><h4>Total</h4></td>
					  				<td><h4 class="text-right">$ 49.98</h4></td>
					  			</tr>
					  		</table>
						<a class="btn btn-success btn-block" href="/ecommercews/public/home.html">FINALIZAR COMPRA</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
