<p ng-show="message.length" class="alert alert-info">{{message}}</p>

<div class="col-md-3 panel panel-default panel-body">

	<form novalidate name="editForm" class="row" ng-submit="findByFilter()">
		
		<div class="col-md-12">			
			<div class="form-group">
			    <label class="control-label" for="code">Código *</label>
			    <input ng-model="filter.entity.code" type="text" class="form-control" name="code" placeholder="Code"> 
			</div>
			<div class="form-group">
				<label class="control-label" for="description">Descrição *</label>
				<input ng-model="filter.entity.description" type="text" class="form-control" name="description" placeholder="Description">					
			</div>						
			<div class="form-group">
				<label>Status *</label>										
				<select name="active" ng-model="filter.entity.active" class="form-control" 
				ng-controller="ActiveController" ng-options="active.value as (active.name) for active in activies">
					<option value="" disabled>Selecione</option>
				</select>					
			</div>
		</div>
		<div class="col-md-6 form-group">
			<button class="btn btn-primary btn-block" ng-click="filterClean()">
				<span class="glyphicon glyphicon-erase"></span>
			</button>
		</div>
		<div class="col-md-6 form-group">
			<button type="submit" class="btn btn-primary btn-block" ng-disabled="editForm.$invalid">
				<span class="glyphicon glyphicon-search"></span>
			</button>
		</div>
	</form>

</div>
<div class="col-md-9">
	<div class="input-group">
		<span class="input-group-btn">
			<a href="#/configuration/new" class="btn btn-primary" type="button">
				Nova Configuração
			</a>
		</span>
		<input class="form-control" placeholder="Pesquisar" ng-model="_filter">
	</div>
	<br />
	<form novalidate name="editForm" ng-submit="submit()">
		<div class="table-responsive">
			<table class="table table-striped">
			    <thead>			    	
				    <tr class="text-center">
				    	<th>#</th>				    	
				        <th>Código</th>
				        <th>Descrição</th>				        
				        <th>Valor</th>
				        <th>Status</th>
				        <th></th>
				    </tr>
			    </thead>
			    <tbody>
			    	<tr ng-show="!configurations.length"> 
						<td colspan="6">No results found.</td>
					</tr>
			    	<tr ng-repeat="configuration in configurations | filter: _filter">
				        <td>{{configuration.id}}</td>				        
				        <td>{{configuration.code}}</td>
				        <td>{{configuration.description}}</td>
				      	<td>{{configuration.value}}  			       				       
				        <td>{{configuration.active ? 'Ativo' : 'Inativo'}}</td>
				        <td class="text-center text-nowrap">
				        	<a href="#/configuration/edit/{{configuration.id}}" class="btn btn-warning">
				        		<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
				        	</a>
				        	<a ng-show="!configuration.active" ng-click="activate(configuration)" class="btn btn-success">
				        		<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
				        	</a> 
				        	<a ng-show="configuration.active" ng-click="inactivate(configuration)" class="btn btn-danger">
				        		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				        	</a>
				        </td>
			      	</tr>
			    </tbody>
			</table>
		</div>
	</form>
</div>
