<div class="col-md-3">
    <div class="list-group">
        <a href="#" class="list-group-item">Inicio</a>
		<a href="#" class="list-group-item">Informações de Conta</a>
		<a href="#" class="list-group-item">Meus Endereços</a>
		<a href="#" class="list-group-item">Meus Pedidos</a>
		<a href="#" class="list-group-item">Trocas e Devoluções</a>
		<a href="#" class="list-group-item">Cartões e Vales</a>
		<a href="#" class="list-group-item">Sair</a>
    </div>
</div>
<div class="col-md-9">	
	<div class="panel panel-default">
	  	<div class="panel-body" style="min-height: 500px;">
	  		<h3 class="text-center">HOME</h3>
	  	</div>
	</div>
</div>

