<div class="col-md-3">
    <div class="list-group">
        <a href="/#/" class="list-group-item"><span class="glyphicon glyphicon-home"/>&nbsp;Inicio</a>
		<a href="/#/home/account" class="list-group-item"><span class="glyphicon glyphicon-user"/>&nbsp;Minha conta</a>
		<a href="/#/home/orders" class="list-group-item"><span class="glyphicon glyphicon-list-alt"/>&nbsp;Meus Pedidos</a>
		<a href="/#/home/addresses" class="list-group-item"><span class="glyphicon glyphicon-envelope"/>&nbsp;Endereços</a>
		<a href="/#/home/exchanges" class="list-group-item"><span class="glyphicon glyphicon-gift"/>&nbsp;Cupons</a>
		<a href="/#/home/cards" class="list-group-item"><span class="glyphicon glyphicon-credit-card"/>&nbsp;Cartões</a>
		<a href="/#/home/notification" class="list-group-item">
			<span class="glyphicon glyphicon-comment" aria-hidden="true">
				</span>&nbsp;Notificações&nbsp;
				<span class="badge">{{$root.notifications.length}}</span>
        </a>                                                                		
    </div>
</div>
<div class="col-md-9">
	<div class="panel panel-default">		
		<div class="panel-body" style="min-height: 500px;">
		<div class="col-md-12">
			<br />
			<p ng-show="responseMessage.message.length" class="alert" ng-class="{true: 'alert-danger',false: 'alert-info'}[responseMessage.hasError]">{{responseMessage.message}}</p>		
		</div>			
		<div class="col-md-12">
			<div class="panel panel-default panel-body">
				<div class="table-responsive">
					<table class="table">
					    <thead> 
						    <tr>
						    	<th class="text-center">Nº Pedido</th>
						    	<th class="text-center">Código</th>
						    	<th class="text-center">Itens</th>
						        <th class="text-center">Data</th>
						        <th class="text-center">Total</th>
						        <th class="text-center">Status</th>
						        <th class="text-center">Pagamento</th>
						        <th class="text-center" ng-show="order.statusOrder.code == 'DELIVERY'">Trocar</th>
						    </tr>
					    </thead>
					    <tbody>
					    	<tr class="text-center">					    		
						        <td>{{order.id}}</td>
						        <td>{{order.code}}</td>
						        <td>{{order.items.length}}</td>
						        <td>{{order.insertionDate}}</td>
						        <td>{{order.total | currency}}</td>
						        <td>{{order.statusOrder.description}}</td>
						        <td class="text-center">
							        <span style="font-size:1.4em;" class="glyphicon glyphicon-credit-card" 
							        ng-show="order.payment.paymentType == 'CREDIT_CARD'"></span>
						        	<span style="font-size:1.4em;" class="glyphicon glyphicon-barcode" 
							        ng-show="order.payment.paymentType == 'BOLETO'"></span> 
					        		
						        </td>
						        <td ng-show="order.statusOrder.code == 'DELIVERY'">
						        	<a ng-click="changeStatusOrder(order)" class="btn btn-primary"><span class="glyphicon glyphicon-transfer"></span></a>
						        </td>
					      	</tr>
					    </tbody>
					    </table>
					    <hr />					    
					    <table class="table table-responsive">
						    <thead>
						    	<caption class="text-center"><h3>ITENS</h3></caption>
							    <tr>							    	
							    	<th class="text-center">Produto</th>
							    	<th class="text-center">Quantidade</th>
							        <th class="text-center">Valor</th>
							        <th class="text-center">Subtotal</th>
							        <th class="text-center" ng-show="order.statusOrder.code == 'DELIVERY'">Trocar</th>
							    </tr>
						    </thead>
						    <tbody>
						    	<tr class="text-center" ng-repeat="item in order.items">
							        <td><a href="/#/products/detail/{{item.product.id}}">{{item.product.description}}</a></td>
							        <td>{{item.quantity}}</td>
							        <td>{{item.product.calculatedSalePrice.value | currency}}</td>
							        <td>{{item.quantity * item.product.calculatedSalePrice.value | currency}}</td>
							        <td ng-show="order.statusOrder.code == 'DELIVERY'">
      									<input type="checkbox" name="remember">
					    			</td>							        
						      	</tr>
						    </tbody>
						</table>
				</div>
			</div>
		</div>	

		<!--
		<div class="col-md-12">

			<div class="row bs-wizard">

				<div class="col-md-1"></div>

                <div class="col-md-2 bs-wizard-step complete">
                  <div class="text-center bs-wizard-stepnum">Recebido</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">
                  		<p>{{order.insertionDate}}</p>                  		
                  </div>
                </div>
                
                <div class="col-md-2 bs-wizard-step active">
                  <div class="text-center bs-wizard-stepnum">Pagamento</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">
                  		
                  </div>
                </div>
                
                <div class="col-md-2 bs-wizard-step disabled">
                  <div class="text-center bs-wizard-stepnum">Separação</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">
                  		
                  </div>
                </div>
                
                <div class="col-md-2 bs-wizard-step disabled">
                  <div class="text-center bs-wizard-stepnum">Transporte</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">
                  		
                  </div>
            	</div>

            	<div class="col-md-2 bs-wizard-step disabled">
                  <div class="text-center bs-wizard-stepnum">Entregue</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">
                  		
                  </div>
            	</div>

            	<div class="col-md-1"></div>
            </div>
		</div>
		-->
		<div class="col-md-12">
			<br />
			<div class="col-md-6">	
				<h5>ENDEREÇO ENTREGA</h5>
				<hr />
				<p>{{order.deliveryAddress.street}}, {{order.deliveryAddress.aNumber}}</p>
				<p>{{order.deliveryAddress.zipCode}} - {{order.deliveryAddress.neighborhood.name}}
				<p>{{order.deliveryAddress.neighborhood.city.description}} - {{order.deliveryAddress.neighborhood.city.state.code}}</p>
			</div>

			<div class="col-md-6">	
				<h5>RESUMO</h5>
				<hr />
				<p><strong>Frete:</strong> {{order.freight.value === '0' ? (order.freight.value | currency) : 'Grátis'}} 
				<p><strong>Subtotal:</strong> {{order.subTotal | currency}}</p>
				<p ng-show="order.cupons.length"><strong>Cupom(ns):</strong></p>
				<div ng-repeat="cupom in order.cupons">
					<ul>
					  <li>{{cupom.code}} - {{cupom.value | currency}}</li>					  
					</ul>
				</div>
				
				<p><strong>Total:</strong> {{order.total | currency}}</p>
			</div>
		</div>

		<div class="col-md-12">
			<hr/>
			<a class="btn btn-primary" href="/#/home/orders">Voltar</a>
		</div>
	</div>
</div>
