<div class="col-md-3">
    <div class="list-group">
        <a href="/#/home" class="list-group-item">Inicio</a>
		<a href="/#/home/account" class="list-group-item">Informações de Conta</a>
		<a href="/#/home/addresses" class="list-group-item">Meus Endereços</a>
		<a href="/#/home/orders" class="list-group-item">Meus Pedidos</a>
		<a href="/#/home/exchanges" class="list-group-item">Trocas e Devoluções</a>
		<a href="/#/home/cards" class="list-group-item">Cartões</a>
		<a href="/#/logout" class="list-group-item">Sair</a>
    </div>	
</div>

<div class="col-md-9">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="text-center">MEUS PEDIDOS</h4>
		</div>
		<div class="panel-body" style="min-height: 500px;">
		

		<div class="col-md-12">
			<a class="btn btn-default" href="/#/home/orders"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;VOLTAR</a>
		</div>
		<br /><br /><br />
		<div class="col-md-12">
			<div class="panel panel-default panel-body">
				<div class="table-responsive">
					<table class="table">
					    <thead>
						    <tr>
						    	<th>Nº Pedido</th>
						    	<th>Itens</th>
						        <th>Data</th>
						        <th>Total</th>
						        <th>Status</th>
						        <th>Pagamento</th>
						    </tr>
					    </thead>
					    <tbody>
					    	<tr>
						        <td>{{order.id}}</td>
						        <td>{{order.items.length}}</td>
						        <td>{{order.insertionDate}}</td>
						        <td>{{order.total | currency}}</td>
						        <td>{{order.statusOrder}}</td>
						        <td>
							        <span style="font-size:1.4em;" class="glyphicon glyphicon-credit-card" 
							        ng-show="order.payment.paymentType == 'CREDIT_CARD'"></span>
						        	<span style="font-size:1.4em;" class="glyphicon glyphicon-barcode" 
							        ng-show="order.payment.paymentType == 'BOLETO'"></span> 
					        		
						        </td>
					      	</tr>
					    </tbody>
					    </table>
					    <hr />
					    <h4 class="text-center">ITENS</h4>
					    <table class="table table-responsive">
						    <thead>
							    <tr>
							    	<th>Produto</th>
							    	<th>Quantidade</th>
							        <th>Valor</th>
							        <th>Subtotal</th>
							    </tr>
						    </thead>
						    <tbody>
						    	<tr ng-repeat="item in order.items">
							        <td><a href="/#/products/detail/{{item.product.id}}">{{item.product.title}}</a></td>
							        <td>{{item.quantity}}</td>
							        <td>{{item.product.calculatedSalePrice.value | currency}}</td>
							        <td>{{item.quantity * item.product.calculatedSalePrice.value | currency}}</td>
						      	</tr>
						    </tbody>
						</table>
				</div>
			</div>
		</div>	

		<div class="col-md-12">

			<div class="row bs-wizard">

				<div class="col-md-1"></div>

                <div class="col-md-2 bs-wizard-step complete">
                  <div class="text-center bs-wizard-stepnum">Recebido</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">
                  		<p>{{order.insertionDate}}</p>
                  </div>
                </div>
                
                <div class="col-md-2 bs-wizard-step active"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum">Pagamento</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">
                  		<!--
                  		<p>12/12/2017</p>
                  		<p>22h59</p>
                  		-->
                  </div>
                </div>
                
                <div class="col-md-2 bs-wizard-step disabled"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum">Separação</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">
                  		<!--
                  		<p>12/12/2017</p>
                  		<p>22h59</p>
                  		-->
                  </div>
                </div>
                
                <div class="col-md-2 bs-wizard-step disabled"><!-- active -->
                  <div class="text-center bs-wizard-stepnum">Transporte</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">
                  		<!--
                  		<p>12/12/2017</p>
                  		<p>22h59</p>
                  		-->
                  </div>
            	</div>

            	<div class="col-md-2 bs-wizard-step disabled"><!-- active -->
                  <div class="text-center bs-wizard-stepnum">Entregue</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center">
                  		<!--
                  		<p>12/12/2017</p>
                  		<p>22h59</p>
                  		-->
                  </div>
            	</div>

            	<div class="col-md-1"></div>
            </div>
		</div>

		<div class="col-md-12">
			<br />
			<div class="col-md-6">	
				<h5 class="text-center">ENDEREÇO ENTREGA</h5>
				<hr />
				<p>{{order.freight.address.street}}, {{order.freight.address.aNumber}}</p>
				<p>{{order.freight.address.zipCode}} - {{order.freight.address.neighborhood.name}}
				<p>{{order.freight.address.neighborhood.city.description}} - {{order.freight.address.neighborhood.city.state.code}}</p>
			</div>

			<div class="col-md-6">	
				<h5 class="text-center">RESUMO</h5>
				<hr />
				<p><strong>Subtotal:</strong> {{order.subTotal | currency}}</p>
				<p><strong>Vale: - </strong></p>
				<p><strong>Frete:</strong> {{order.freight.value | currency}} ( <strong>{{order.freight.description}} </strong>)</p>
				<p><strong>Total:</strong> {{order.total | currency}}</p>
			</div>

		</div>
	</div>
</div>
