<div class="page-header text-center">
	<h1>CADASTRO PRODUTO</h1>
</div>

<p ng-show="message.length" class="alert alert-info">{{message}}</p>

<form novalidate name="editForm" class="row" ng-submit="submit()">

	
	<div class="col-md-6">
	
		<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[(editForm.name.$dirty && editForm.name.$invalid]">
		    <label class="control-label" for="name">Nome *</label>
		    <input ng-model="product.name" type="text" class="form-control" name="name" placeholder="Name" required> 
		    <span class="help-block" ng-show="editForm.name.$dirty && editForm.name.$error.required">Nome do produto é obrigatório.</span>
		</div>

		<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.code.$dirty && editForm.code.$invalid]">
		    <label class="control-label" for="name">Código *</label>
		    <input ng-model="product.code" type="text" class="form-control" name="code" placeholder="Code" required>    
		    <span class="help-block" ng-show="editForm.code.$dirty && editForm.code.$error.required">Código do produto é obrigatório.</span>
		</div>

		<div class="form-group">
			<label>Descrição resumida</label>
			<textarea ng-model="product.shortDescription" name="shortDescription" class="form-control">
			</textarea>
		</div>

		<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.description.$dirty && editForm.description.$invalid] ">
			<label>Descrição Detalhada *</label>
			<textarea ng-model="product.description" name="description" class="form-control" rows="4" required="">
			</textarea>
			<span class="help-block" ng-show="editForm.description.$dirty && editForm.description.$error.required">Descrição detalhada do produto é obrigatório.</span>
		</div>
	</div>
	<div class="col-md-6">

		<div class="col-md-6">
			<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.packing.$dirty && editForm.packing.$invalid] ">
				<label>Embalagem *</label>
				<select ng-controller="PackingTypeController" name="packing" ng-model="product.packing.type" class="form-control" required 
					ng-options="packing.value as (packing.name) for packing in packingTypes">
					<option value="">Escolha embalagem</option>
				</select>
			</div>
		</div>

		<div class="col-md-6">
			<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.weight.$dirty && editForm.weight.$invalid]">
			    <label class="control-label" for="name">Peso (Kg) *</label>
			    <input ng-model="product.packing.weight" type="number" min="{{weight.min}}" max="{{weight.max}}" class="form-control" name="weight" placeholder="weight" required>    
			</div>	
		</div>

		<div class="col-md-3">
			<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.height.$dirty && editForm.height.$invalid]">
			    <label class="control-label" for="name">Altura *</label>
			    <input ng-model="product.packing.height" type="number" min="{{height.min}}" max="{{height.max}}" class="form-control" name="height" placeholder="height" required>    
			</div>
		</div>

		<div class="col-md-3">
			<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.width.$dirty && editForm.width.$invalid] ">
			    <label class="control-label" for="name">Largura *</label>
			    <input ng-model="product.packing.width" type="number" min="{{width.min}}" max="{{width.max}}" class="form-control" name="width" placeholder="width" required>    
			</div>
		</div>

		<div class="col-md-3">
			<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.length.$dirty && editForm.length.$invalid]">
			    <label class="control-label" for="name">Comprimento *</label>
			    <input ng-model="product.packing.length" type="number" min="{{length.min}}" max="{{length.max}}" class="form-control" name="length" placeholder="length" required>    
			</div>
		</div>

		<div class="col-md-3">
			<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.diameter.$dirty && editForm.diameter.$invalid]">
			    <label class="control-label" for="name">Diametro *</label>
			    <input ng-model="product.packing.diameter" type="number" min="{{diameter.min}}" max="{{diameter.max}}" class="form-control" name="diameter" placeholder="diameter" required>    
			</div>
		</div>

		<div class="col-md-12">	
		
			<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.price.$dirty && editForm.price.$invalid] ">
			    <label class="control-label" for="name">Preço *</label>
			    <input ng-model="product.price.value" type="number" min="0" class="form-control" name="price" placeholder="price" required>    
			    <span class="help-block" ng-show="editForm.price.$dirty && editForm.price.$error.required">Preço do produto é obrigatório.</span>
			</div>

			<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.category.$dirty && editForm.category.$invalid] ">
				<label>Categoria * <a href="/#/category/new">Nova categoria</a></label>
				<select name="category" ng-model="product.category.id" class="form-control" required 
				ng-controller="CategoriesController" ng-options="category.id as (category.name) for category in categories">
					<option value="">Escolha uma Categoria</option>
				</select>
				<!--<a href="/#/category/new">cadastre categoria</a>-->	
				<span class="help-block" ng-show="editForm.name.$dirty && editForm.name.$error.required ">Categoria do Produto é obrigatório.</span>
			</div>

			<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.active.$dirty && editForm.active.$invalid]">
				<label>Status *</label>
				<select name="active" ng-model="product.active" class="form-control" required 
				ng-controller="ActiveController" ng-options="active.value as (active.name | uppercase) for active in activies">
					<option value="">Escolha um status</option>
				</select>
				<span class="help-block" ng-show="editForm.name.$dirty && editForm.name.$error.required">Status da categoria é obrigatório.</span>
			</div>	
		</div>
	</div>

	<div class="col-md-12">
		<button type="submit" class="btn btn-primary" ng-disabled="editForm.$invalid">
			Salvar
		</button>
		<a href="#/products/list" class="btn btn-primary">Voltar</a>
	</div>	
</form>