<br />
<div class="row">	
	<div class="col-md-6">
        <div class="thumbnail">
            <img class="img-responsive" src="http://placehold.it/800x600" alt="">
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-12 text-center">
            <h2>{{product.name}}</h2>
            <br />
        </div>
        <div class="col-md-12">
    		<div class="caption-full">
    			<p>{{product.description}}</p>
    		</div>
            <hr />
        </div>
        <div class="col-md-12">
            <div class="col-md-6 text-center">
                <h2>R$ {{product.price.value | number:2}}</h2>
                <p>12 x R$ {{product.price.value / 12 | number:2}} Sem Juros</p>
                <a>Parcelas</a>
            </div>
            <div class="col-md-6 text-center">
                <a class="btn btn-success btn-block" href="/#/cart/{{product.id}}">COMPRAR</a>
            </div>
        </div>  
        <div class="col-md-12" ng-controller="FreightController">
            <hr />
            <form novalidate name="freightForm">
                <div class="input-group">
                    <span class="input-group-addon">Calcular Frete e Prazo</span>
                    <input ng-model="freight.postalCodeSource"   type="text" class="form-control" required>
                    <span class="input-group-btn">
                        <button ng-click="calculateFreight()" class="btn btn-default" ng-disabled="freightForm.$invalid">CALCULAR</button>
                   </span>
                </div>
            </form>
            <br />
            <div class="row">
                <div class="col-md-4" ng-repeat="freight in freights">
                    <div class="panel panel-default text-center">
                        <p><strong>{{freight.serviceName}}</strong></p>
                        <p>R$ {{freight.value}}</p>
                        <p>Prazo: {{freight.deadline}} dia(s)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>