
<div class="row">	
	<div class="col-md-6">
        <div class="thumbnail">
            <img class="img-responsive" src="http://placehold.it/400x300" alt="">
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-12 text-center">
            <h2>{{product.name}}</h2>
            <br />
        </div>
        <div class="col-md-12">
    		<div class="caption-full">
    			<p>{{product.description}}</p>
    		</div>
            <hr />
        </div>
        <div class="col-md-12">
            <div class="col-md-6 text-center">
                <h2>R$ {{product.price.value}}</h2>
                <p>12 x R$1.27 Sem Juros</p>
                <a>Parcelas</a>
            </div>
            <div class="col-md-6 text-center">
                <a class="btn btn-success btn-block" href="/#/cart/{{product.id}}">COMPRAR</a>
            </div>
        </div>  
        <div class="col-md-12">
            <hr />
            <form>
                <div class="input-group">
                    <span class="input-group-addon">Calcular Frete e Prazo</span>
                    <input ng-model="cart.freight.request.postalCodeSource" type="text"  class="form-control">
                    <span class="input-group-btn">
                        <button ng-click="calculateFreight()" class="btn btn-default">CALCULAR</button>
                   </span>
                </div>
            </form>
        </div>
    </div>
</div>