<div class="page-header text-center">
	<h1>MOVIMENTAÇÃO DE ESTOQUE</h1>
</div>

<p ng-show="message.length" class="alert alert-info">{{message}}</p>

<form novalidate name="editForm" class="row" ng-submit="submit()">

	<div class="col-md-12">

		<div class="col-md-4">
			<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.name.$dirty && editForm.name.$invalid]">
			    <label class="control-label" for="name">Produto *</label>
			    <input ng-model="product.name" type="text" class="form-control" name="name" placeholder="Name" disabled> 
			    <span class="help-block" ng-show="editForm.name.$dirty && editForm.name.$error.required">Nome do produto é obrigatório.</span>
			</div>
		</div>

		<div class="col-md-4">
			<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.name.$dirty && editForm.name.$invalid]">
			    <label class="control-label" for="name">Código *</label>
			    <input ng-model="product.name" type="text" class="form-control" name="name" placeholder="Name" disabled> 
			    <span class="help-block" ng-show="editForm.name.$dirty && editForm.name.$error.required">Nome do produto é obrigatório.</span>
			</div>
		</div>

		<div class="col-md-4">
			<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.name.$dirty && editForm.name.$invalid]">
			    <label class="control-label" for="name">Estoque Mínimo *</label>
			    <input ng-model="product.name" type="text" class="form-control" name="name" placeholder="Name" disabled> 
			    <span class="help-block" ng-show="editForm.name.$dirty && editForm.name.$error.required">Nome do produto é obrigatório.</span>
			</div>
		</div>

		<div class="col-md-4">
			<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.name.$dirty && editForm.name.$invalid]">
			    <label class="control-label" for="name">Nota Fiscal *</label>
			    <input ng-model="product.name" type="text" class="form-control" name="name" placeholder="Name" required> 
			    <span class="help-block" ng-show="editForm.name.$dirty && editForm.name.$error.required">Nome do produto é obrigatório.</span>
			</div>
		</div>

		<div class="col-md-4">
			<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.name.$dirty && editForm.name.$invalid]">
			    <label class="control-label" for="name">Lote *</label>
			    <input ng-model="product.name" type="text" class="form-control" name="name" placeholder="Name" required> 
			    <span class="help-block" ng-show="editForm.name.$dirty && editForm.name.$error.required">Nome do produto é obrigatório.</span>
			</div>
		</div>

		<div class="col-md-4">
			<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.name.$dirty && editForm.name.$invalid]">
			    <label class="control-label" for="name">Quantidade *</label>
			    <input ng-model="product.name" type="text" class="form-control" name="name" placeholder="Name" required> 
			    <span class="help-block" ng-show="editForm.name.$dirty && editForm.name.$error.required">Nome do produto é obrigatório.</span>
			</div>
   		</div>

   		<div class="col-md-4">
			<div class="form-group" ng-class="{true: 'has-error',false: 'is-required'}[editForm.name.$dirty && editForm.name.$invalid]">
			    <label class="control-label" for="name">Valor Compra *</label>
			    <input ng-model="product.name" type="text" class="form-control" name="name" placeholder="Name" required> 
			    <span class="help-block" ng-show="editForm.name.$dirty && editForm.name.$error.required">Nome do produto é obrigatório.</span>
			</div>
   		</div>

   		<div class="col-md-4">
	      	<div class="form-group">
	        	<label>Unidade *</label>
	        	<select name="state" ng-model="adress.state" class="form-control" >
	          		<option value="">Escolha um estado</option>
	        	</select>
	      	</div>
	    </div>

   		<div class="col-md-4">
	      	<div class="form-group">
	        	<label>Tipo *</label>
	        	<select name="state" ng-model="adress.state" class="form-control" >
	          		<option value="">Escolha um estado</option>
	        	</select>
	      	</div>
	    </div>

	    <div class="col-md-12">
			<button type="submit" class="btn btn-primary" ng-disabled="editForm.$invalid">
			Salvar
			</button>
		</div>

		<div class="col-md-12">
			<h3 class="text-center">HISTÓRICO</h3>
			<hr />
		</div>
	</div>
</form>
